<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>
  <ion-label color="black" stacked>Kullanıcı Mail Adresi</ion-label>
  <ion-input type="email" [(ngModel)]="email" name='email'></ion-input>
  <ion-label color="black" stacked>Kullanıcı Şifresi</ion-label>
  <ion-input type="password" [(ngModel)]="password" name='password'></ion-input>
  <button ion-button full (click)='loginHttpRequest()' id="loginButton">Giriş Yap</button>
  <button ion-button full (click)='navigateToSignupPage()' id="signupPageNavigationButton">Hesap Aç</button>

</ion-content>
