<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content padding>
  <div>Kullanıcı</div>
  <div>Kullanı Adı : {{name}}</div>
  <div>Kullanıcı E-mail'i : {{email}}</div>
</ion-content>
