<ion-header>
  <ion-navbar>
    <ion-title>Cafe Point</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>That is HomePage</h1>
  <ion-tabs>
     <ion-tab [root]='homeContentRoot' tabTitle='Anasayfa'></ion-tab>
     <ion-tab [root]='profileRoot' tabTitle='Profil'></ion-tab>
     <ion-tab [root]='settingsRoot' tabTitle='Ayarlar'></ion-tab>
   </ion-tabs>
</ion-content>
