<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>
  <h1>Ayarlar</h1>
  <button ion-button (click)='signout()' color="danger" outline block>Çıkış Yap</button>
</ion-content>
