<!--
  Generated template for the HomeContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content padding>
  <h1>HomeContent</h1>
</ion-content>
