<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>



<ion-content padding>
  <ion-label color="black" stacked>Ad - Soyad</ion-label>
  <ion-input type="text" id="name_surname"  [(ngModel)]="name" name='name'></ion-input>
  <ion-label color="black" stacked>Kullanıcı Adı</ion-label>
  <ion-input type="text" id="username" [(ngModel)]="username" name='username'></ion-input>
  <ion-label color="black" stacked>Kullanıcı Mail Adresi</ion-label>
  <ion-input type="email" id="email" [(ngModel)]="email" name='email'></ion-input>
  <ion-label color="black" stacked>Kullanıcı Şifresi</ion-label>
  <ion-input type="password" id="password" [(ngModel)]="password" name='password'></ion-input>
  <ion-label color="black" stacked>Kullanıcı Şifresi - Tekrardan</ion-label>
  <ion-input type="password" id="password_control" [(ngModel)]="password_control" name='password_control'></ion-input>
  <ion-label color="black" stacked>Kullanıcı Tipi</ion-label>
  <ion-input type="text" id="type" [(ngModel)]="type" name='type'></ion-input>
  <button ion-button full (click)='signupHTTP()' id="signupButton">Giriş Yap</button>
</ion-content>
